<!doctype html>
<html>
<head>
    <%- include('head/main') %>
</head>
<body>
<header role="banner" class="transparent light">
    <%- include('header/main') %>
</header>
<div class="container">
    <div class="well">
        <p><b>Confirmed, we glad to see you in our comunity.</b></p>
        <form action="/login" method="get">
            <button type="submit" class="btn btn-info btn-small">Login</button>
        </form>
    </div>
</div>
<footer class="footer">
    <%- include('footer/main') %>
</footer>
</body>
</html>
