<!doctype html>
<html>
<head>
  <%- include('head/main') %>
</head>
<body>
<header role="banner" class="transparent light">
  <%- include('header/main') %>
</header>
<div class="container">
  <div class="well">
    <p><b>How to use:</b></p>
    1) You need to register new account.<br>
    2) Select needed channels, or you can add own custom streams.<br>
    3) Download client application, you can build it in profile page (need to be registered).<br>
    4) Install and start client.
  </div>
</div>
<footer class="footer">
  <%- include('footer/main') %>
</footer>
</body>
</html>
