<!doctype html>
<html>
<head>
  <%- include('head/main') %>
</head>
<body>
  <header role="banner" class="transparent light">
    <%- include('header/main') %>
  </header>
  <div class="container">
    <div class="well">
      <p><b>How to use:</b></p>
      1) You register new account.<br>
      2) Select needed channels, or can add your own custom streams.<br>
      3) Download our client, you can <a class="button transparent white" href="/build_installer_request">Buld</a> it(need to logging).<br>
      4) Install and start client.
    </div>
  </div>
  <footer class="footer">
    <%- include('footer/main') %>
  </footer>
</body>
</html>
