<!doctype html>
<html>
<head>
  <%- include('head/main'); %>
</head>
<body>
  <header role="banner" class="transparent light">
    <%- include('header/main'); %>
  </header>
  <div class="container">
  </div>
  <footer class="footer">
    <%- include('footer/main'); %>
  </footer>
</body>
</html>
