<!doctype html>
<html>
<head>
    <%- include('head/main') %>
</head>
<body>
<header role="banner" class="transparent light">
    <%- include('header/main') %>
</header>
<div class="container">
    <div class="well">
        <ul>
            <li>
                <a href="http://www.orangepi.org"><b>Orange PI:</b></a>
                <ul>
                    <li><a href="http://www.orangepi.org/orangepione"><b>Orange PI One</b></a></li>
                    <li><a href="http://www.orangepi.org/orangepilite"><b>Orange Pi Lite</b></a></li>
                    <li><a href="http://www.orangepi.org/orangepipc"><b>Orange PI PC</b></a></li>
                    <li><a href="http://www.orangepi.org/orangepiplus2"><b>Orange Pi Plus2</b></a></li>

                    <li><a href="http://www.orangepi.org/orangepipc2"><b>Orange PI PC2</b></a></li>
                    <li><a href="http://www.orangepi.org/OrangePiZeroPlus2"><b>Orange Pi Zero Plus2</b></a></li>

                </ul>
            </li>
            <li>
                <a href="http://www.banana-pi.org"><b>Banana PI:</b></a>
                <ul>
                    <li><a href="http://www.banana-pi.org/m2plus.html"><b>Banana Pi M2+</b></a></li>

                </ul>
            </li>
            <li>
                <a href="https://www.raspberrypi.org"><b>Raspberry PI:</b></a>
                <ul>
                    <li><a href="https://www.raspberrypi.org/products/model-b-plus"><b>Raspberry Pi 1 Model B+</b></a>
                    </li>
                    <li><a href="https://www.raspberrypi.org/products/raspberry-pi-2-model-b"><b>Raspberry Pi 2 Model
                                B</b></a></li>
                    <li><a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b"><b>Raspberry Pi 3 Model
                                B</b></a></li>
                </ul>
            </li>
            <li>
                <b>PC</b>
            </li>
        </ul>
        <p>
            If you didn't find your device please write <a href="<%- site.github_issues_link %>">issue</a>
            and we will add support for it!
        </p>
    </div>
</div>
<footer class="footer">
    <%- include('footer/main') %>
</footer>
</body>
</html>
