<header role="banner" class="transparent light">
    <div class="row">
        <div class="nav-inner row-content buffer-left buffer-right even clear-after">
            <div id="brand">
                <h2 class="reset"><a href="/"><%- site.title %></a></h2>
            </div>
            <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>    
            <nav>
              <ul class="reset" role="navigation">
                  <li><a href="/">Home</a></li>
                  <li><a href="/help">How to use</a></li>
              </ul>
            </nav>
        </div><!-- row-content -->  
    </div><!-- row -->  
</header>